/* =========================
   GENERAL
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff8f2;
    color: #3a1f2b;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}


/* =========================
   NAVIGATION
========================= */

header {
    background-color: #3a1f2b;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 18px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Logo */

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-circle {
    width: 52px;
    height: 52px;

    background-color: #e8b45b;
    color: #3a1f2b;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 19px;
}

.logo h2 {
    color: #fff8f2;
    font-family: "Playfair Display", serif;
    font-size: 21px;
}

.logo span {
    color: #e8b45b;
    font-size: 10px;
    letter-spacing: 4px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 28px;
}

.nav-links a {
    color: #fff8f2;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #e8b45b;
}

.hero {
    max-width: 1200px;
    margin: auto;
    padding: 80px 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    align-items: center;
}

.small-title {
    color: #b84c6d;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 14px;
}

.hero h1 {
    font-family: "Playfair Display", serif;
    font-size: 58px;
    line-height: 1.1;
    margin-bottom: 22px;
}

.hero-description {
    color: #6d5960;
    line-height: 1.8;
    max-width: 500px;
    margin-bottom: 28px;
}

